<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        p {
            margin: 0px;
        }
    </style>
</head>

    <body>
    <body style="background-color: #DFD1DC; font-family :Open Sans ;">
        <div class = "head-wrap" style="">
            <p style="font-size: 50px">Hello, </p>
            <p style="font-size: 30px">Inez Zahra</p>
            <p style="font-size: 30px; font-weight: bold">1806241091</p>
        </div>
    
    </body>


</html>