<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        p {
            margin: 0px;
        }
    </style>
</head>

    <body>
    <body style="background-color: #D7E2E5; font-family :Open Sans ;">
        <div class = "head-wrap" style="">
            <p style="font-size: 50px">Hello, </p>
            <p style="font-size: 30px">How are you feeling today?</p>
        </div>
        <form method="POST">
        {% csrf_token %}
        <div class="forms">
            {% for i in form %}
            {{ i }}
            {% endfor %}
        </div>
        <div class="btn">
            <input type="submit" value="submit">
        </div>
        </form>
        <div class="response">
            {% for i in stats %}
                <h1>{{ i.status }} - {{ i.time }}</h1>
              {% endfor %}
        </div>
    </body>


</html>